header{
    position:sticky;
    z-index:2;
    top:0;
    height:50px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    background-color:rgba(128, 128, 128, 0.571);
    border-radius:15px;
    -webkit-backdrop-filter:blur(2px);
    backdrop-filter:blur(2px);

}
header>img{
    width:50px;
    height:50px;
}

.container3{
    display:flex;
    justify-content: space-evenly;
}
.container4{
    display: flex;
    justify-content: space-evenly;
}

.cont4{
    display: flex;
    width: 20%;
    height: 200px;
    border: none;
    box-shadow: 0 0 20px #8AAEE0 ;
    
}
.container2{
    position: relative;
}
.cont3{
    position: relative;
    width: 100%;
    height: 600px;

}
.container7{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(menu1.png);
    background-size: cover;
    background-position: center;
    width:100%;
    height: 800px;
    margin-bottom: 30px;

}
.container7 h1{
    color: white;
    font-size: 60px;
    text-shadow: 0 0 20px #194689;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    }
img{
    height: 20px;
    width:20px;

}
header{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;    
}

a:hover{
    color:rgb(0, 0, 0);
   
}
a{ 
    text-decoration: none;
    color: rgb(66, 65, 65);
}


footer{
    margin-bottom:auto;
    padding: 40px;
    display: flex;
    justify-content: space-evenly; 
    background-color:#8AAEE0 ;
    height: 200px; 
}


.container{
    display: flex;
    justify-content: space-evenly; 

}
.container a{
    color: #7F5539;
    font-size: 15px;
    /*text-shadow: 0 0 5px #E6CCB2;*/
    font-family: 'Times New Roman', Times, serif;
}

.cont img{
   width:70px;
   height: 70px;
}
.size{
    width: 40%;
    height: 400px;
}

.size2{
    width: 50%;
    height: 300px;
}
.size3{
    width: 50%;
    height: 300px;
}
.size4{
    width: 40%;
    height: 300px;
} 
.size5{
    width: 40%;
    height: 300px;
}  

 h2{
    font-weight: 100;
 }
.cont{
    cursor: pointer;
}

