/* header{
    position:sticky;
    z-index:2;
    top:0;
    height:100px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    background-color:rgba(128, 128, 128, 0.571);
    border-radius:15px;
    -webkit-backdrop-filter:blur(2px);
    backdrop-filter:blur(2px);

}
header ul{
    list-style: none;
    float:right;
    margin: 0;
    padding: 0;
    display: flex;
    
}
header ul li a{
    line-height: 80px;
    color:#fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;  
} */
/*.container7{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(assets/menu1.png);
    background-size: cover;
    background-position: center;
    width:100%;
    height: 800px;
    margin-bottom: 30px;

}


.container3{
    display:flex;
    justify-content: space-evenly;
}

.container4{
    display: flex;
    justify-content: space-evenly;
}

.cont4{
    width:100%;
    height:200px;
}
.container2{
    position: relative;
}
.cont3{
    position: relative;
    width: 100%;
    height: 600px;

}

.contenu{
    color: white;
    font-size: 60px;
    text-shadow: 0 0 20px #194689;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center; 
    

     
    } 



.a:hover{
    cursor: pointer;
}
.container7 a::after{
    content: "";
    position: absolute;
    background-color: #8AAEE0;
    height: 3px;
    width: 0;
    left:0;
    bottom: -10px;
    transition: 0.3s;

}
.container7 a:hover:after{
    width: 100%;
}
.container3 p{
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container4 p{
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img{
    height: 20px;
    width:20px;

}

header{ 
    text-decoration: none;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 0 20px #8AAEE0 ;
    text-shadow: 0 0 20px #194689;

}


footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-bottom-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}


.container{
    display: flex;
    justify-content: space-evenly; 

}


.cont img{
   width:70px;
   height: 70px;
}
 



.cont4-1{
    border:2px solid #194689;
    height:250px;
    width:200px;
    
    
}
.cont4-1:hover{
    width: 210px;
    height: 260px;
    box-shadow: 0 0 20px #8AAEE0 ;
    
}*/

*{
  box-sizing: border-box;
  

}
body {
  margin: 0;
  padding: 0;
}
.deco {
  width: 100%;
  height: 80px;
  background-color: #0d2c56;
  display: flex;
  justify-content: center;

  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(home.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin-bottom: 30px;
}
nav ul li a {
  color: black;
  
}
nav ul li a:hover {
  color: white;
  text-decoration: underline;
}
nav {
  background-color: #0d2b5687;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 15px;
  margin-left:25px;
}
nav ul li {
  margin: 0 !important;
  padding: 0;
}
.icone img {
  height: 30px;
  width: 30px;
}
.icone {
  display: flex;
  justify-content: space-evenly;
}
.icone > div {
  position: relative;
  display: inline-block;
}
.icone > div img:nth-of-type(2) {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.icone > div:hover img:nth-of-type(2) {
  display: inline;
}
.deco h1 {
  font-size: bold;
  color: black;
  font-size: 2.5em;
  color:black;
  margin: 0;
  padding: 10px;
  border-bottom: 2px solid black; /* Bordure inférieure pour un effet visuel */
  animation: fadeInDown 1.5s ease-out; /* Ajout de l'animation fadeInDown */
}
@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

img {
  width: 50%;
}
.contenue {
  margin-top: 90px;
}
.container1 {
  display: flex;
  justify-content: space-evenly;
  height: 500px;
  background-color: #f0f0f0;
}

.container2 {
  display: flex;
  justify-content: space-evenly;
}
.title-para {
  margin-top: 100px;
}
header > h2 {
  text-align: center;
  margin-top: 50px;
  font-size:  1.2em; 
  color: #333;
  margin: 0;
  padding: 10px;  
  animation: animate 1.5s ease-out; /* Ajout de l'animation fadeInDown */

}
@keyframes animate {
    from {
      opacity: 0;
      transform: translateX(-350px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
 } 
  
.icone-para  p{
    color: red;
}
p {
  color: #555;
}
.canapé {
  margin-top: 20px;
  margin-right: 120px;
  height: 400px;
  border-radius: 50%;
}
.para {
  margin-top: 80px;
  margin-right: 60px;
}
.noir {
  color: grey;
}
.marron {
  color: rgba(179, 24, 24, 0.245);
}

.lit {
  margin-right: 100px;
  height: 400px;
}
.btn-style {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 140px;
  height: 50px;
  border-radius: 40px;
  margin-left: 100px;
}
.title2-para {
  margin-top: 100px;
  margin-left: 30px;
}
.color {
  margin-right: 90px;
  margin-left: 25px;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.icone {
  width: 270px;
}
.icone-para {
  margin-left: 50px;
}
.container7 {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.fote {
  width: 270px;
  height: 180px;
}
div > h3 {
  margin-left: 50px;
}
.bordure {
  background-image: linear-gradient(163deg,#0d2c56 0%, #F9F295 100%);
  border-radius: 50px;
  transition: all .4s;
}
.bordure:hover{
    box-shadow: 0px 0px 80px 1px #0d2c56;
}

.table {
  margin-left: 40px;
}
.btn-style:hover {
  background-color: #0d2c56;
  color: white;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(footer.png);
  height: 300px;
  width: 100%;
}
